*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

h7{
    color: rgb(0, 170, 255);
    background-color: black;  
    font-size: 70px; 
    font-family: monospace; 
    font-weight: 900; /* text ko patla ya mota dikhane ke liye use krte h */
    font-style: italic; /* text ka design change ke liye */
    text-align: center; /* text ko kidhar se dikhana hai  */
}


diva{
    /*box bnana ke kiye div ka use krte by giving height and width */
    height: 300px;
    width: 300px;
    background-color: crimson;
}

.a{
    background-color: rosybrown;
}


/* agr same property multiple logo ko dena hai to class "." ko use krte hai aur agar ek property ek single person ko dena hai to use krte hai id "#" */