*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

h7{
    color: rgb(0, 170, 255);
    background-color: black;  
    font-size: 70px; 
    font-family: monospace; 
    font-weight: 900; /* text ko patla ya mota dikhane ke liye use krte h */
    font-style: italic; /* text ka design change ke liye */
    text-align: center; /* text ko kidhar se dikhana hai  */
}


diva{
    /*box bnana ke kiye div ka use krte by giving height and width */
    height: 300px;
    width: 300px;
    background-color: crimson;
}

/* .a{
    background-color: rosybrown;
} */


/* agr same property multiple logo ko dena hai to class "." ko use krte hai aur agar ek property ek single person ko dena hai to use krte hai id "#"  */


/* #box{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 50px;
    padding: 50px;
} */

/* margin : box ko move krna hai to margin use kro aur box ke ander ke ele ko use ya move krna hai to padding use kro */

/* #parent{
    height: 200px;
    width: 400px;
    background-color: crimson;
}

#child{
    height: 50%;
    width: 50%;
    background-color: skyblue;
} */

/* % ka use tab krte hai jab parent ke respect me kaam krna hota hai */

button{
    margin: 40px;
    font-size: 20px;
    padding: 15px 30px;
    background-color: lightseagreen;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 50px;
}

button:hover{
    background-color: crimson;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 2px solid white;
    position: absolute;   /* position abs ka matlab hai hawa mein uthana */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); /* transform : to center a div */
    z-index: 9;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: rgb(132, 99, 186);
    border: 2px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;  /* z-index ka use jisko top pe rkna hai dusre ke respect mein */
    /* transform: translate(-50%,-50%); */

}


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}

h1 span{
    color: crimson;
    font-size: 150px;
    font-weight: 200;
    padding: 20px 40px;
}